
<!---------- Homepage --------
-------------------------------->

<div class="container-fluid">
<div class="row-fluid show-grid">

<!---------- Welcome message ---------->

<div class="span12" id="welcomemessage"><h1>Stay Local . Save Money</h1></div>
<div class="span12" id="info"><p>jshbc jsahbdcjsahbcjksabcd kjasdb cjkahsb dcjkha bsdjkbchasjkh dbcjkasxax axaxax axaxa sxasx asjas hdbcjas khdbc jkashd bckjahs dbckjah sbdckjashdbcsaxaxasaxsx asxasxa sxasxasxasxa sx asxasx asxasxas</p></div>

<!---------- Kiwi Picture Baby ---------->

<div class="span12" id="intropic">
</div>

<!---------- Sign Up Button! ---------->


<div class="span12" id="Signup">
  <button class="kiwisignup" type="button">Sign Up!</button>
 </div>


<!---------- Deals ---------->

<div class="span12" id="listings">
<h1>Todays Deals</h1>
</div>

<div class="span12" id="deal1">
<table>
<div class="span5" id="namedeal">
  <tr>
    <th>Name</th>
    <th>Deal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</div>

<% @offers.each do |offer| %>

  <tr>
    <td>name</td>
    <td><%= offer.deal %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

</div>
<%= link_to 'New Offer', new_offer_path %>

</div>
</div>
</div>
