<!DOCTYPE html>
<html>
<head>
  <title>Kiwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo">
        <%= image_tag("kiwilogo.png", :alt => "kiwi") %>
      </div>
      <div class="homenavlinks"
        <ul class="nav">
          <li><%= link_to "About", offers_path %></li>
          <li><%= link_to "Company", offers_path %></li>
          <li><%= link_to "Sign In", offers_path %></li>
          <li><%= link_to "Sign Up!", offers_path %></li>
      </div>
      </div>
    </div>
  </div>


<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</div>







<div id="endoptions">
  <ul>
    <li><a href="../MailoWebsite/mailoabout.html">About</a></li>
    <li><a href="../MailoWebsite/mailocompany.html">Company</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</div>
</body>
</html>