<!DOCTYPE html>
<html>
<head>
  <title>Kiwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo">
        <%= image_tag("kiwilogo.png", :alt => "kiwi") %>
      </div>
      <div class="homenavlinks"
        <ul class="nav">
          <li><%= link_to "About", offers_path %></li>
          <li><%= link_to "Company", offers_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to current_user.first_name, edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up!", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
      </div>
      </div>
    </div>
  </div>


<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert <%= flash_class type %>">
      <button class="close" data-dismiss="alert">x</button>
      <%= message %>
    </div>
  <% end %>
  
  <%= yield %>
</div>







<div id="endoptions">
  <ul>
    <li><a href="../MailoWebsite/mailoabout.html">About</a></li>
    <li><a href="../MailoWebsite/mailocompany.html">Company</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</div>
</body>
</html>